<main>
  <ul class="origins-list">
    <% if @origins %>
      <% @origins.each do |origin| %>
        <li class="lol">
        <%= link_to origin_defined_words_path(origin) do %>
          <%= image_tag("origin-flags/Mexico.png", class: "flag") %><br>
          <span ><%= origin.country %></span>
        <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>