<main>
  <ul>
    <% if @origins %>
      <% @origins.each do |origin| %>
      <li>
        <%= link_to origin.country, origin_defined_words_path(origin) %>
      </li>
      <% end %>
    <% end %>
  </ul>
</main>