/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #EAEAEA;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo h1 {
  margin-top: 0px;
  color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  letter-spacing: 0.5px;
}

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }


/**********************************

              FORMS

**********************************/

.form-entirety {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #E9B6F1;*/
}

.field {
  margin: 10px;
}

input, select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid purple
}

/**********************************

              NAV

**********************************/

header {
  background-color: #333;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}



/**********************************

    DEFINED WORDS LISTS
    (INDEX & DEFINED WORDS INDEX)

**********************************/

.list-item {
  background-color: white;
  /*border-radius: 25px;*/
}

.main-word {
  background-color: #FECD4C;
  padding: 6px;
  color: white;
  width: 100%;
  font-family: Times New Roman;
}

.index-list, .list-item, .origins-list{
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding: 0;
}

.example {
  font-style: italic;
}

.defined-word-container {
  padding: 0px 7px;
  margin: 5px;
}

.comment-options {
  /*background-color: purple;*/
}

.reply-options, .comments-thread {
  padding-bottom: 10px;
}

.comment {
  margin-bottom: 7px;
}

a {
    text-decoration: none;
}

/**********************************

            WORD VOTING

**********************************/

.upvote-button {
  height: 50px;
  width: 50px;
  background-image: url("upvote.png");
  border: none;
  background-size: contain;
  background-color: transparent;
  color: transparent; /* hides the submit value */
}

.upvoted {
  background-image: url("upvoted.png");
}

.downvote-button {
  height: 50px;
  width: 50px;
  background-image: url("downvote.png");
  border: none;
  background-size: contain;
  background-color: transparent;
  color: transparent; /* hides the submit value */
}

.downvoted {
  background-image: url("downvoted.png");
}

.voting {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-flow: row wrap;
  align-items: center;
}

/**********************************

          COMMENTS THREAD

**********************************/

.comments-thread ul{
  list-style-type: none;
}

/**********************************

          ORIGIN-FLAGS

**********************************/

.lol {
  text-align: center;
}

.flag {
  /*padding-left: 10%;*/
  width: 90%;
}

/**********************************

          RESPONSIVENESS

**********************************/

button {
  display: none;
}

@media (min-width: 700px){
  main, nav ul, .logo {
    width: 60%;
    margin-left: 20%;
  }

  .main-word {
    margin-left: -12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .defined-word-container {
    font-size: 18px;
  }
}

@media (max-width:700px) {

  .main-word {
    margin-left: -12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  input {
    width: 90%;
  }

   .origins-list, main{
    padding:10px;
  }

  .logo{
    margin-left: 5%;
  }

  nav {
    display: none;
    width: 100%;
    top: 60px;
  }

  nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }

  nav ul {
    width: 100%;
    margin: 0px;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid #333;
  }

  button {
    display: block;
    padding: 1%;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
  }
}
