<main>
<% if @origin %>
  <h2><%= @origin.country %> Spanglish</h2>
<% end %>

<% if @words %>
  <ul class="index-list">
    <% @words.each do |word| %>
      <li>
        <%= render partial: "defined_words/shared/defined_word", locals: {word: word} %>
      </li>
    <% end %>
  </ul>
<% end %>
</main>